<div class="bookmark" (hover)="setBookmark( bookmark._id )">
    <div class="img-container">
        <img src="{{ bookmark.image }}" alt="" class="hero">
        <div class="ctas">
            <button class="btn btn-circle cta" data-toggle="tooltip" data-placement="top" title="Go to this bookmark">
                <a href="{{ bookmark.url }}" target="_blank"><i class="icon-link"></i></a>
            </button>
            <button class="btn btn-circle cta" data-toggle="modal" data-target="#editModal" (click)="setTarget( bookmark )">
                <i class="icon-edit"></i>
            </button>
            <button class="btn btn-circle cta" data-toggle="modal" data-target="#deleteModal" (click)="setTarget( bookmark )">
                <i class="icon-cancel"></i>
            </button>
        </div>
    </div>
    <div class="body">
        <h3>{{ bookmark.title }}</h3>
        <h5 class="sub">
            <i class="icon-calendar"></i>
            <ng-container *ngIf="!bookmark.date_edited">
                Created on {{ bookmark.date_created | date : 'dd/MM/yyyy' }}
            </ng-container>
            <ng-container *ngIf="bookmark.date_editied">
                Edited on {{ bookmark.date_edited | date : 'dd/MM/yyyy' }}
            </ng-container>
        </h5>
        <h5 class="sub">
            <a href="{{ bookmark.url }}" target="_blank">
                <i class="icon-link"></i>  {{ bookmark.url }}
            </a>
        </h5>
        <h5 class="sub">
            <i class="icon-descr"></i>  {{ bookmark.description }}
        </h5>
        <hr>
        <div class="tags">
            <i class="icon-tags"></i>
            <ng-container *ngFor="let tag of bookmark.tags">
                <a (click)="filterList(tag)" class="tag">{{ tag }}</a>
            </ng-container>
        </div>
    </div>
</div>