img {
    position: absolute;
    top: -12.5px;
    left: calc( 50% - ( 215px / 2 ) );
    height: 85px;
}

nav.navbar {
    height: 56px !important;
}

.bg-dark {
    background: #2c3e50 !important;
    color: #bdc3c7;
}

.active {
    color: #ecf0f1;
}

.nav-link {
    cursor: pointer;
}

li.nav-item {
    font-size: 18px;
    position: relative;
    top: 8px;
}