div.container {
    position: absolute;
    top: 56px !important;
}

div.row {
    margin-top: 15px;
}

div.no-bookmarks {
    width: 50vw;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 25vw;
    color: #95a5a6;
    text-align: center;
}

.no-bookmarks h3 {
    font-size: 18pt;
}

.no-bookmarks i {
    font-size: 70pt !important;
}

.invisibutton {
    color: inherit;
    background: transparent;
    border: none;
    font-weight: normal;
    padding: none;
    margin: none;
}

div.bookmark {
    background: #f9f9f9;
    border-radius: 3px;
    border-bottom: 5px solid #95a5a6;
    position: relative;
    margin-bottom: 15px;
    overflow: scroll;
    transition: linear all 0.2s;
    -webkit-transition: linear all 0.2s;
    -moz-transition: linear all 0.2s;
}

div.bookmark:hover {
    transform: translateY( -2.5px );
    -webkit-box-shadow: 2px 5px 10px 0px rgba(153,153,153,1);
    -moz-box-shadow: 2px 5px 10px 0px rgba(153,153,153,1);
    box-shadow: 2px 5px 10px 0px rgba(153,153,153,1);
    border-bottom: 5px solid #1abc9c;
    transition: linear all 0.2s;
    -webkit-transition: linear all 0.2s;
    -moz-transition: linear all 0.2s;
}

div.img-container {
    position: relative;
    top: 0;
    left: 0;
    height: 25%;
    width: 100%;
    overflow: none;
}

div.img-container img {
    transition: linear all 0.2s;
    -webkit-transition: linear all 0.2s;
    -moz-transition: linear all 0.2s;
}

div.img-container:hover img {
    filter: blur( 1.5px );
    transition: linear all 0.2s;
    -webkit-transition: linear all 0.2s;
    -moz-transition: linear all 0.2s;
}

div.img-container .ctas {
    position: absolute;
    top: calc( 50% - 30px );
    left: calc( 50% - ( 30px * 3) - ( 5px * 3) );
    display: none;
    transition: linear all 0.2s;
    -webkit-transition: linear all 0.2s;
    -moz-transition: linear all 0.2s;
}

.btn-circle {
    width: 60px;
    height: 60px;
    line-height: 1.33;
    border-radius: 50%;
    margin-left: 5px;
    background-color: rgba( 0,0,0,0.5 );
    text-align: center;
    transition: linear all 0.2s;
    -webkit-transition: linear all 0.2s;
    -moz-transition: linear all 0.2s;
}

.icon-add {
    background-color: #2ecc71;
    position: fixed;
    padding: 10px;
    font-size: 20px !important;
    border-radius: 100%;
    bottom: 35px;
    right: 35px;
    text-align: center;
    color: #ecf0f1 !important;
}

.icon-add:hover {
    color: #fff !important;
}

.btn-circle:active,
.btn-circle:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}

.btn-circle i {
    font-size: 25px !important;
    color: #c0c0c0 !important;
    position: relative;
    transition: linear all 0.2s;
    -webkit-transition: linear all 0.2s;
    -moz-transition: linear all 0.2s;
}

div.img-container .ctas .cta:hover * {
    color: #fff !important;
    transition: linear all 0.2s;
    -webkit-transition: linear all 0.2s;
    -moz-transition: linear all 0.2s;
}

div.img-container:hover .ctas {
    display: block;
    transition: linear all 0.2s;
}

div.bookmark * {
    text-decoration: none;
    color: #999;
    font-size: 10pt;
    font-weight: 300;
}

div.bookmark .body {
    position: relative;
    padding: 15px;
}

div.bookmark .body h3 {
    font-weight: 400;
    color: #666;
    font-size: 11pt;
}

div.bookmark .body .sub i {
    margin-right: 10px;
}

div.bookmark img {
    width: 100%;
    height: auto;
}

a.tag {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    background: #efefef;
    border: 1px solid rgba( 127, 127, 127, 0.2 );
    border-radius: 3px;
    transition: linear all 0.2s;
    -webkit-transition: linear all 0.2s;
    -moz-transition: linear all 0.2s;
    cursor: pointer;
}

a.tag:hover {
    background: #f9f9f9;
    transition: linear all 0.2s;
    -webkit-transition: linear all 0.2s;
    -moz-transition: linear all 0.2s;
}

div.form {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

span.required {
    color: red;
}

img.preview {
    width: 50%;
    margin-left: 25%;
    margin-top: 5%;
}