html, body {
    background-color: #ecf0f1;
    font-family: 'omnes-pro', sans-serif;
    color: #2c3e50;
}

.form-control:focus {
    border: 1px solid #09c;
    box-shadow: none;
}

.btn:focus,
.btn:active,
.btn:after {
    border: none; 
    box-shadow: none;
}