html, body {
    background-color: #ecf0f1;
    font-family: 'omnes-pro', sans-serif;
    color: #2c3e50;
}

.form-control:focus {
    border: 1px solid #09c;
    box-shadow: none;
}

.btn:focus,
.btn:active,
.btn:after {
    border: none !important; 
    box-shadow: none !important;
}

h1, h2, h3 {
    font-weight: 400;
}

h4, h5, h6, p {
    font-weight: 300;
} 